@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- #region TopInfo -->
@*@using System.Web.Mvc;*@
@using System.Text;
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Http;
@using System.Web;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using MySql.Data.MySqlClient;
@using CoreWebsiteTest1.OtherClasses;
@using CoreWebsiteTest1.Models;
@using CoreWebsiteTest1.DAL;
@using dbHandle = CoreWebsiteTest1.OtherClasses.MyDBController;
<!-- #endregion -->
<!--#region Methods-->
@{
    Func<string, IHtmlContent> CreateCartListTemplate =
    @<text>@{
    /* CODE */
    string query = $"SELECT * FROM products WHERE parttype='{item}' ORDER BY id ASC";
    using (var _dbHandle = new dbHandle())
    {
        string connectionErrnoIfAny;
        List<ProductItemModel> productItems;
        if (_dbHandle.RetrieveProductItemsFromQuery(query, out productItems, out connectionErrnoIfAny))
        {
            foreach (var productItem in productItems)
            {
                var _params = new Dictionary<string, string> { { "action", "add" }, {"code", @productItem.Code}};
                <div class="product-item">
                    <form method="post" asp-page="/Index" asp-all-route-data="_params">
                        <div class="product-image"><img src="@productItem.Image"></div>
                        <div><strong>@productItem.Name</strong></div>
                        <div class="product-price">$@productItem.Price</div>
                        <div><input type="text" name="quantity" value="1" size="2" /><input type="submit" value="Add to cart" class="btnAddAction" /></div>
                    </form>
                </div>
            }
        }
        else
        {
            <h1>An Error: @connectionErrnoIfAny</h1>
        }
}
}</text>;

Func<string, IHtmlContent> CreateTopAddedCartItemsListTemplate =
@<text>@{
    /* CODE */
    double item_total = 0;
    var _empty_params = new Dictionary<string, string> { { "action", "empty" } };
<div id="shopping-cart">
    <div class="txt-heading">Shopping Cart <a id="btnEmpty" asp-page="/Index" asp-all-route-data="_empty_params">Empty Cart</a></div>
    <table cellpadding="10" cellspacing="1">
        <tbody>
            <tr>
                <th style="text-align:left;"><strong>Name</strong></th>
                <th style="text-align:left;"><strong>Code</strong></th>
                <th style="text-align:right;"><strong>Quantity</strong></th>
                <th style="text-align:right;"><strong>Price</strong></th>
                <th style="text-align:center;"><strong>Action</strong></th>
            </tr>

            @{ 
                List<CartItemModel> cartItemSession = HttpContext.Session.Get<List<CartItemModel>>("cart_item_session");
                if(cartItemSession != null && cartItemSession.Count > 0)
                {
                    foreach (var cartItem in cartItemSession)
                    {
                        var _remove_cart_item_params = new Dictionary<string, string> { { "action", "remove" }, { "code", @cartItem.ProductItem.Code} };
                    <tr>
                        <td style="text-align:left;border-bottom:#F0F0F0 1px solid;"><strong>@cartItem.ProductItem.Name</strong></td>
                        <td style="text-align:left;border-bottom:#F0F0F0 1px solid;">@cartItem.ProductItem.Code</td>
                        <td style="text-align:right;border-bottom:#F0F0F0 1px solid;">@cartItem.Quantity</td>
                        <td style="text-align:right;border-bottom:#F0F0F0 1px solid;">@cartItem.ProductItem.Price</td>
                        <td style="text-align:center;border-bottom:#F0F0F0 1px solid;"><a asp-page="/Index" asp-all-route-data="@_remove_cart_item_params" class="btnRemoveAction">Remove Item</a></td>
                    </tr>
                        item_total += cartItem.ProductItem.Price * cartItem.Quantity;
                    }
                }
            }

            <tr><td colspan="5"><strong>Total:</strong>@String.Concat("$", item_total)</td></tr>
        </tbody>
    </table>
</div>
}</text>;


}

<!--#endregion-->
<!--#region Commented Code-->
@{
    Func<string, IHtmlContent> CreateCartListTemplatePrototype1 =
    @<text>@{
    /* CODE */
    string query = $"SELECT * FROM products WHERE parttype='{item}' ORDER BY id ASC";
    using (var _dbHandle = new dbHandle())
    {
        MySqlDataReader dataReader; string connectionErrnoIfAny;
        if (_dbHandle.RunQuery(query, out dataReader, out connectionErrnoIfAny))
        {
            <h1>Query Was Successful.</h1>
            while (dataReader.Read())
            {
                string _code = dataReader.GetString("code");
                <h2>Code: @_code</h2>
            }
        }
        else
        {
            <h1>An Error: @connectionErrnoIfAny</h1>
        }
    }
}</text>;
}
<!--#endregion-->
<!--#region MainPage-->
<!--<div class="text-center">-->
<div id="title-heading">
    <h1>Computer Shopping Cart</h1>
    <h2>Plenty of Computer Parts That'll Fit All of Your Needs.</h2>
</div>
@CreateTopAddedCartItemsListTemplate("")

<div id="product-grid">
    <div class="txt-heading">Processors</div>
    @CreateCartListTemplate("processor")
</div>

<div id="product-grid">
    <div class="txt-heading">Cases</div>
    @CreateCartListTemplate("case")
</div>

<div id="product-grid">
    <div class="txt-heading">Peripherals</div>
    @CreateCartListTemplate("peripheral")
</div>

<div id="product-grid">
    <div class="txt-heading">Ram</div>
    @CreateCartListTemplate("ram")
</div>

<div id="product-grid">
    <div class="txt-heading">Motherboards</div>
    @CreateCartListTemplate("motherboard")
</div>

<!--</div>-->
<!--#endregion-->
